# Firebase Client SDK Credentials Example Template
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=portfolio-bf5f2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=portfolio-bf5f2
VITE_FIREBASE_STORAGE_BUCKET=portfolio-bf5f2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_48gak7i
VITE_EMAILJS_TEMPLATE_ID=template_86btth5
VITE_EMAILJS_PUBLIC_KEY=
