# Firebase Client SDK Credentials Example Template
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=portfolio-bf5f2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=portfolio-bf5f2
VITE_FIREBASE_STORAGE_BUCKET=portfolio-bf5f2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Brevo (Sendinblue) Transactional Email API Configuration
VITE_BREVO_API_KEY=
VITE_BREVO_SENDER_NAME=Yaswanth Portfolio
VITE_BREVO_SENDER_EMAIL=yaswanthullingala@gmail.com
VITE_BREVO_RECIPIENT_EMAIL=yaswanthullingala@gmail.com
